<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Meta -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1"> 
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="Purdue - Education HTML Template">
		<meta name="keywords" content="theme_ocean, college, course, e-learning, education, high school, kids, learning, online, online courses, school, student, teacher, tutor, university">
		<meta name="author" content="theme_ocean">
		<!-- SITE TITLE -->
		<title>SIMALES - Sistem Pendaftaran Les</title>			
		{% load static %}
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap" rel="stylesheet" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="{% static 'assets/webfonts/themify-icons.css' %}" />
    <!-- All Min Css -->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
    <!-- - owl carousel Css -->
    <link rel="stylesheet" href="{% static 'assets/owlcarousel/css/owl.carousel.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/owlcarousel/css/owl.theme.css' %}" />
    <!-- slicknav Css -->
    <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}" />
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}" />
    <!-- jquery-simple-mobilemenu Css -->
    <link rel="stylesheet" href="{% static 'assets/css/jquery-simple-mobilemenu.css' %}" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}" />
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
</head>
<body>
	
	<!-- START PRELOADER -->
	<div class="preloaders">
		<span class="loader"></span>
	</div>
	<!-- END PRELOADER -->

	<!-- START TOP HEADER CLASS -->
	<div class="top_header_banner">	
		
		<!-- START TOP HEADER CLASS -->
    <div class="top_header_banner2">
      <!-- START NAVBAR -->
      <div id="navigation" class="navbar-light bg-faded site-navigation">
        <div class="container">
          <div class="row">
            <div class="col-20 align-self-center">
              <div class="site-logo">
                <a href="index.html"><img src="{% static 'assets/images/simales2.png' %}" alt="" /></a>
              </div>
            </div>
            <!-- - END Col -->

            <div class="col-60 d-flex">
              <nav id="main-menu">
                <ul>
                  <li>
                    <a href="{% url 'home' %}">Beranda</a>
                  </li>
                  <li>
                    <a href="{% url 'about' %}">Tentang Kami</a>
                  </li>
                  <li>
                    <a href="course.html">Pendaftaran</a>
                  </li>
                  <li>
                    <a href="#">Pembayaran</a>
                  </li>
                  <li>
                    <a href="contact.html">Jadwal</a>
                  </li>
                </ul>
              </nav>
            </div>
            <!-- - END Col -->

            <div class="col-30 d-none d-xl-block text-end align-self-center">
              <div class="call_to_action">
                <a class="btn_two" href="register.html">Daftar <i class="fa-solid fa-arrow-right"></i></a>
              </div>
              <!-- - END SOCIAL PROFILE -->
            </div>
            <!-- - END Col -->

            <ul class="mobile_menu">
              <li>
                <a href="{% url 'home' %}">Beranda</a>
              </li>
              <li>
                <a href="{% url 'about' %}">Tentang Kami</a>
              </li>
              <li>
                <a href="course.html">Pendaftaran</a>
              </li>
              <li>
                <a href="#">Pembayaran</a>
              </li>
              <li>
                <a href="contact.html">Jadwal</a>
              </li>
            </ul>
          </div>
          <!-- - END ROW -->
        </div>
        <!-- - END CONTAINER -->
      </div>
      <!-- END NAVBAR -->

							
		<!-- START SECTION TOP -->
		<section class="section-top">
			<div class="container">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="section-top-title wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
						<h1>Tentang Kami</h1>
						<ul>
							<li><a href="index.html">Beranda</a></li>
							<li> / Tentang Kami</li>
						</ul>
					</div><!-- //.HERO-TEXT -->
				</div><!--- END COL -->
			</div><!--- END CONTAINER -->
		</section>	
		<!-- END SECTION TOP -->
		</div><!-- END  TOP HEADER CLASS -->
	
	<!-- START ABOUT US -->
<section class="ab_one section-padding">
    <div class="container">
        <div class="row">

            <!-- Konten -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
                 data-wow-duration="1s"
                 data-wow-delay="0.1s"
                 data-wow-offset="0">

                <div class="ab_content">
                    <h2>Temukan Guru Les Terbaik dan Raih Prestasi Akademik Anda</h2>
                    <p>
                        SIMALES adalah platform pendaftaran les yang membantu siswa
                        menemukan program bimbingan belajar sesuai kebutuhan mereka.
                        Dengan proses pendaftaran yang mudah dan informasi yang lengkap,
                        siswa dapat memilih paket les terbaik untuk meningkatkan kemampuan
                        akademik dan meraih tujuan pendidikan mereka.
                    </p>
                </div>

                <div class="abmv">
                    <img src="assets/images/all-img/light.svg" alt="">
                    <h4>Pendaftaran Mudah dan Cepat</h4>
                    <p>
                        Daftar program les secara online kapan saja dan di mana saja
                        tanpa proses yang rumit.
                    </p>
                </div>

                <div class="abmv">
                    <img src="assets/images/all-img/target.svg" alt="">
                    <h4>Pilihan Program yang Beragam</h4>
                    <p>
                        Tersedia berbagai paket les untuk jenjang SD, SMP, SMA,
                        hingga persiapan ujian dan masuk perguruan tinggi.
                    </p>
                </div>

                <div class="cta_two">
                    <a href="" class="cta">
                        <span>Lihat Paket Les</span>
                        <svg width="13px" height="10px" viewBox="0 0 13 10">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </a>
                </div>
            </div>

            <!-- Gambar -->
            <div class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
                 data-wow-duration="1s"
                 data-wow-delay="0.2s"
                 data-wow-offset="0">

                <div class="ab_img">
                    <img src="{% static 'assets/images/about2.png' %}"
                         class="img-fluid"
                         alt="Tentang SIMALES">
                </div>

            </div>

        </div>
    </div>
</section>
<!-- END ABOUT US -->
	
	<!-- START WHY CHOOSE US -->
<section class="marketing_content_area section-padding">
   <div class="container">
      <div class="section-title">
         <h4>Mengapa Memilih SIMALES?</h4>
         <h1>Solusi Mudah untuk Pendaftaran Les yang Efektif dan Modern</h1>
      </div>

      <div class="row">

         <!-- Fitur 1 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-user-graduate"></i>
                  <h2><a href="#">Pendaftaran <br> Online</a></h2>
               </div>
               <p>
                  Daftar program les kapan saja dan di mana saja melalui sistem online yang cepat dan mudah digunakan.
               </p>
            </div>
         </div>

         <!-- Fitur 2 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-book-open"></i>
                  <h2><a href="#">Beragam Paket <br> Les</a></h2>
               </div>
               <p>
                  Tersedia berbagai pilihan paket les untuk jenjang SD, SMP, SMA hingga persiapan ujian dan masuk perguruan tinggi.
               </p>
            </div>
         </div>

         <!-- Fitur 3 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-calendar-check"></i>
                  <h2><a href="#">Jadwal <br> Fleksibel</a></h2>
               </div>
               <p>
                  Pilih jadwal belajar yang sesuai dengan aktivitas siswa sehingga proses belajar menjadi lebih nyaman.
               </p>
            </div>
         </div>

         <!-- Fitur 4 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-chalkboard-user"></i>
                  <h2><a href="#">Tutor <br> Berkualitas</a></h2>
               </div>
               <p>
                  Dibimbing oleh tutor yang kompeten dan berpengalaman untuk membantu siswa mencapai hasil belajar terbaik.
               </p>
            </div>
         </div>

         <!-- Fitur 5 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-chart-line"></i>
                  <h2><a href="#">Monitoring <br> Pembelajaran</a></h2>
               </div>
               <p>
                  Orang tua dan siswa dapat memantau perkembangan belajar melalui sistem yang terintegrasi.
               </p>
            </div>
         </div>

         <!-- Fitur 6 -->
         <div class="col-lg-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
            <div class="single_feature_one">
               <div class="sf_top">
                  <i class="fa-solid fa-headset"></i>
                  <h2><a href="#">Layanan <br> Responsif</a></h2>
               </div>
               <p>
                  Tim administrasi siap membantu proses pendaftaran dan memberikan informasi yang dibutuhkan dengan cepat.
               </p>
            </div>
         </div>

      </div>
   </div>
</section>
<!-- END WHY CHOOSE US -->

	<!-- START TEAM-->
	<section class="team_member section-padding">
	   <div class="container">
			<div class="section-title">
    <h4>Tim Pengembang</h4>
    <h1>Tim di Balik Pengembangan SIMALES</h1>
</div>		
			<div class="row text-center">								
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.1s" data-wow-offset="0">
					<div class="our-team">
						<div class="team-content">
							<h3 class="title">Dewi Nuraeni</h3>
							<span class="post">Developer</span>								
						</div>	
						<div class="team_img">
							<img src="{% static 'assets/images/dewi.jpg' %}" alt="team-image">
						</div>
					
					</div>
				</div><!--- END COL -->														
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s" data-wow-offset="0">
					<div class="our-team">
						<div class="team_img">
							<img src="{% static 'assets/images/dera.jpg' %}" alt="team-image">
						</div>
						<div class="team-content">
							<h3 class="title">Dera Ardanik</h3>
							<span class="post">Developer</span>	
						</div>
					</div>
				</div><!--- END COL -->
				<div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s" data-wow-offset="0">
					<div class="our-team">
						<div class="team-content">
							<h3 class="title">Riska Andriani</h3>
							<span class="post">Developer</span>							
						</div>
						<div class="team_img">
							<img src="{% static 'assets/images/riska.jpg' %}" alt="team-image">
						</div>
					</div>
				</div><!--- END COL -->																					
			</div><!-- END ROW -->
		</div><!-- END CONTAINER -->
	</section>
	<!-- END TEAM -->	

	
	<!-- START FAQ -->
<section class="faq_area section-padding">
    <div class="container">
        <div class="section-title">
            <h4>Pertanyaan Umum</h4>
            <h1>Frequently Asked Questions (FAQ)</h1>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="accordion" id="accordionExample">

                    <!-- FAQ 1 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseOne"
                                aria-expanded="true"
                                aria-controls="collapseOne">
                                Bagaimana cara mendaftar program les di SIMALES?
                            </button>
                        </h2>
                        <div id="collapseOne"
                            class="accordion-collapse collapse show"
                            aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Anda dapat memilih paket les yang tersedia, mengisi formulir pendaftaran,
                                kemudian melakukan konfirmasi sesuai petunjuk yang diberikan oleh sistem.
                            </div>
                        </div>
                    </div>

                    <!-- FAQ 2 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo"
                                aria-expanded="false"
                                aria-controls="collapseTwo">
                                Jenjang pendidikan apa saja yang tersedia?
                            </button>
                        </h2>
                        <div id="collapseTwo"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                SIMALES menyediakan program les untuk jenjang SD, SMP, SMA,
                                serta program persiapan ujian dan masuk perguruan tinggi.
                            </div>
                        </div>
                    </div>

                    <!-- FAQ 3 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseThree"
                                aria-expanded="false"
                                aria-controls="collapseThree">
                                Apakah saya dapat memilih jadwal belajar sendiri?
                            </button>
                        </h2>
                        <div id="collapseThree"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Ya. Siswa dapat memilih jadwal belajar yang tersedia sesuai dengan
                                kebutuhan dan waktu luang yang dimiliki.
                            </div>
                        </div>
                    </div>

                    <!-- FAQ 4 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFour"
                                aria-expanded="false"
                                aria-controls="collapseFour">
                                Bagaimana cara mengetahui status pendaftaran saya?
                            </button>
                        </h2>
                        <div id="collapseFour"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFour"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Status pendaftaran dapat dilihat melalui akun SIMALES setelah proses
                                verifikasi dilakukan oleh pihak administrasi.
                            </div>
                        </div>
                    </div>

                    <!-- FAQ 5 -->
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                            <button class="accordion-button collapsed"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseFive"
                                aria-expanded="false"
                                aria-controls="collapseFive">
                                Siapa yang dapat saya hubungi jika mengalami kendala?
                            </button>
                        </h2>
                        <div id="collapseFive"
                            class="accordion-collapse collapse"
                            aria-labelledby="headingFive"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Anda dapat menghubungi admin SIMALES melalui halaman kontak atau
                                informasi layanan bantuan yang tersedia pada website.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Gambar FAQ -->
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="pt_faq">
                    <img src="{% static 'assets/images/faq.png' %}"
                        class="img-fluid"
                        alt="FAQ SIMALES">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- END FAQ -->
	
	<!-- START FOOTER -->
<div class="footer section-padding">
    <div class="container">

        <div class="row justify-content-between align-items-start footer-content">

            <!-- Logo & Deskripsi -->
            <div class="col-lg-4 col-md-12 mb-4">
                <div class="single_footer footer-left">

                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/images/simales2.png' %}" alt="SIMALES">
                    </a>

                    <p class="footer-desc mt-4">
                        SIMALES adalah sistem pendaftaran les yang memudahkan siswa
                        memilih paket belajar sesuai kebutuhan. Tersedia berbagai mata
                        pelajaran dan jenjang pendidikan dengan proses pendaftaran yang
                        cepat dan mudah.
                    </p>

                </div>

                <div class="foot_social footer-social">
                    <ul>
                        
                    </ul>
                </div>
            </div>

            <!-- Menu Cepat -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="single_footer">

                    <h4>Menu Cepat</h4>

                    <ul>
                        <li><a href="{% url 'home' %}">Beranda</a></li>
                        <li><a href="#tentang">Tentang Kami</a></li>
                        <li><a href="#paket">Paket Les</a></li>
                        <li><a href="#jadwal">Jadwal Les</a></li>
                        <li><a href="#kontak">Kontak</a></li>
                    </ul>

                </div>
            </div>

            <!-- Informasi Kontak -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="single_footer">

                    <h4>Informasi Kontak</h4>

                    <div class="sf_contact">
                        <span class="ti-mobile"></span>
                        <div>
                            <h3>Nomor WhatsApp</h3>
                            <p>0812-3456-7890</p>
                        </div>
                    </div>

                    <div class="sf_contact">
                        <span class="ti-email"></span>
                        <div>
                            <h3>Email</h3>
                            <p>info@simales.com</p>
                        </div>
                    </div>

                    <div class="sf_contact">
                        <span class="ti-map"></span>
                        <div>
                            <h3>Alamat</h3>
                            <p>Cepu, Blora, Jawa Tengah</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <hr>

        <div class="row">
            <div class="col-12 text-center">
                <div class="footer_copyright">
                    <p>
                        © 2026 SIMALES. Seluruh Hak Cipta Dilindungi.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- END FOOTER -->		
		
	<!-- Latest jQuery -->
    <script src="{% static 'assets/js/jquery-1.12.4.min.js' %}"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- owl-carousel min js -->
    <script src="{% static 'assets/owlcarousel/js/owl.carousel.min.js' %}"></script>
    <!-- jquery-simple-mobilemenu.min -->
    <script src="{% static 'assets/js/jquery-simple-mobilemenu.js' %}"></script>
    <!-- magnific-popup js -->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- jquery mixitup min js -->
    <script src="{% static 'assets/js/jquery.mixitup.js' %}"></script>
    <!-- GSAP AND LOCOMOTIV JS -->
    <script src="{% static 'assets/js/gsap.min.js' %}"></script>
    <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
    <script src="{% static 'assets/js/lenis.js' %}"></script>
    <!-- scrolltopcontrol js -->
    <script src="{% static 'assets/js/scrolltopcontrol.js' %}"></script>
    <!-- jquery inview js -->
    <script src="{% static 'assets/js/jquery.inview.min.js' %}"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <!-- scripts js -->
    <script src="{% static 'assets/js/scripts.js' %}"></script>				
</body>
</html>